<div class="card" style="width: 18rem;">

    <!-- dentgro del ngcontainer si de noticia foto es null mostrar 
      plantilla  --> 

    <ng-container *ngIf="noticia.foto != null; else elseTemplate">
                       <!--  //al colocar entre corchetes asigno la foto de noticia --> 

      <img class="card-img-top" [src]="noticia.foto" alt="Card image cap">  
    </ng-container>
    <!-- en caso de que no haya imagen muestra una de imagien vacia --> 

    <ng-template #elseTemplate>
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Noimage.svg/739px-Noimage.svg.png" alt="Card image cap">
    </ng-template>
    
    
    
    <div class="card-body">
              <!-- por interpolacion{{}} de la noticia cojo el titulo --> 

      <h5 class="card-title">{{noticia.titulo}} {{pos}}</h5>
      <!-- Para enlazar modifico el href por un router link
      debe coincidir con el detalle del archivo app.routingModules correspondiente a detalle que 
    he puesto anterioremnte --> 

      <a [routerLink]="[ '/detalle', pos ]" class="btn btn-primary">Ver Noticia</a>
      <div class="mt-3 card-footer text-muted">
        <!-- de la notica cojo la categoria --> 

        {{noticia.categoria}}
      </div>
    </div>
  </div>
